
/* base styles, feel free to edit */
html, body {
    overflow: scroll;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

/* Add your styles here */

.title {
    padding: 0 20px 0 20px;
}

button{
    margin-top: 15px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}

.author {
    line-height: 10px;
}

/* Sidebar and Popup windows Style */

#sidebarButton {
    display: none;
    margin-right: 20px;
    margin-top: 10px;
    width: 150px;
    background-color: #2DB1D5;
    color: white;
    border: none;
}

.opacityWindow {
    display: none;
    padding: 150px 0 0 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.6);
    top: 0;
}

#popupContent {
    background-color:#fafafa;
    border-radius: 5px;
    margin: auto;
    padding: 15px 30px 20px 30px;
    width: 50%;
    line-height: 25px;
}

#popupInput {
    width: 70%;
    height: 30px;
    padding: 0 auto;
    margin-bottom: 10px;
}

#popupConfirm {
    display: block;
    margin-top: 15px;
    height: 30px;
    background-color: rgb(255, 137, 2);
    color: white;
    border: none;
}

#addFriend {
    display: none;
}

#close {
    color: #8d8d8d;
    float: right;
    font-size: 30px;
}

#alert {
    margin-top: 50px;
}
  
#close:hover {
    color: #000;
}

#sidebarWindow {
    padding: 0 0 0 0;
}

.sideBar {
    margin-bottom: 20px;
    position: right;
    font-size: 15px;
}

#sidebarContent {
    position: absolute;
    right: 0;
    background-color:#fafafa;
    margin: auto;
    width: 250px;
    height: 100%;    
}

.icon {
    width: 100%;
    height: 120px;
    background-color: #44bb7a;
    border-bottom: 3px solid white;
}


.icon p {
    line-height: 20px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding: 25px 20px 0 20px;
    margin: 0;
}

.sidebarModule {
    color: white;
    font-size: 17px;
    background-color: #42b881;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(199, 197, 197);
    
}

.sidebarModule * {
    padding: 10px 0 0 20px;
}

.sidebarModule span {
    float: inline-start;
}

.sidebarModule:hover {
    opacity: 0.6;
    background-color: #000;
    font-weight: bolder;
}

#closeSidebar {
    color: white;
    float: right;
    padding-right: 10px;
    font-size: 30px;
}

#closeSidebar:hover {
    color: rgb(211, 210, 210);
}

/* Login Screen style*/

#loginScreen {
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;
}

#loginInput {
    margin: 0 auto;
    align-self: center;
    font-size: 17px;
    border-collapse: separate; 
    border-spacing: 20px;
}

#loginInput td {
    text-align: left;
}

#loginInput input {
    height: 25px;
}

#loginButton {
    background-color: #fafafa;
    border: 0;
    margin-right: 50px;
}

/* SignUp Screen style*/

#signupButton {
    color: #fafafa;
    border: 0px;
    background-color: rgb(255, 137, 2);
}

#signupScreen {
    display: none;
    width: 100%;
    text-align: center;
    padding: 0 0 5px 0;
}

.signupInput {
    display: inline-block;
    text-align: left;
    font-size: 17px;
}

.signupInput p {
    margin-bottom: -10px;
}

.signupInput input {
    height: 25px;
    width: 300px;
}

#createAccount {
    background-color: rgb(255, 137, 2);
    color: #fafafa;
    border: none;
    width: 310px;
    display: block;
    margin: 20px auto;
}

#underlineSignIn {
    border: none;
    background-color: #fafafa;
    text-decoration: underline;
    color: blue;
    width: 70px;
    height: 30px;
    font-size: 17px;
    margin-top: 0px;
}

/* Feed screen style*/

#feedScreen {
    display: none;
    overflow: scroll;
    width: 100%;
    height: 80%;
}

#NoFeed {
    display: none;
    text-align: center;
}

#FeedCheck {
    display: none;
    text-align: center;
}

#LoadFeed {
    width: 100%;
    height: 60%;
    display: none;
}

#LoadFeedContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    overflow: auto;
}

.feedCard {
    width: 350px;
    height: 650px;
    border: 4px solid black;
    margin: 20px;
    border-radius: 5px;
}

.cardTitle {
    text-align: left;
    width: 350px;
    height: 50px;
    border-bottom: 2px solid black;
}

.cardImage {
    width: 350px;
    height: 350px;
    border-bottom: 2px solid black;
}

.cardInfo {
    overflow: auto;
    width: 350px;
    height: 248px;
}

.cardAuthor {
    margin: 0%;
    float: left;
    padding: 10px 0 0 20px;
    font-weight: bold;
    font-size: 25px;
}

.cardAuthor:hover {
    opacity: 0.8;
    color: rgb(255, 137, 2);
}

.cardTime {
    color: rgb(122, 122, 122);
    margin: 0%;
    padding: 27px 5px 0 0px;
    float: right;
    text-align: right;
}

.cardDescription {
    height: 110px;
    line-height: 25px;
    margin: 0px;
    padding: 10px 10px 0px 20px;
}

.cardLikeNum {
    display: inline-block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    color: red;
    text-align: center;
    border: solid 1px red;
    margin: 0 10px 0 15px;
    padding-top: 10px;
}

.cardCommentNum {
    display: inline-block;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    color: blueviolet;
    text-align: center;
    border: solid 1px blueviolet;
    margin: 0 10px 0 10px;
    padding-top: 10px;
}

.cardToggle {
    font-size: 35px;
    font-weight: lighter;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.buttonLikeClick {
    color: red;
    border: 1px solid red;
    background-color: #fafafa;
    margin-left: 20px;
    border-radius: 10px;
    width: 120px;
    margin-right: 30px;
}

.buttonCommentClick {
    color: blueviolet;
    border: 1px solid blueviolet;
    background-color: #fafafa;
    margin-left: 20px;
    border-radius: 10px;
    width: 140px;
}

.buttonLikeClick:hover, .buttonCommentClick:hover, .cardToggle:hover {
    opacity: 0.6;
}

.buttonLikeClick:hover {
    background-color: red;
    color: white;
}

.buttonCommentClick:hover {
    background-color: blueviolet;
    color: white;
}

/* show Like and Comment windows */

#likeAndComment {
    display: block;
    padding-top: 100px;
}

.likeAndComment {
    background-color:#fafafa;
    border-radius: 5px;
    margin: auto;
    overflow-y: auto;
    padding: 15px 30px 20px 30px;
    width: 70%;
    height: 60%;
    line-height: 25px;
}

#closeLikeandComment {
    color: #8d8d8d;
    float: right;
    font-size: 30px;
}

#closeLikeandComment:hover {
    color: #000;
}

.LikeOuter {
    margin-top: 60px;
    border: 1px solid red;
    border-radius: 20px;
    line-height: 30px;
    padding: 0 30px 0 30px;
}

.CommentOuter {
    margin-top: 10px;
    border: 1px solid blueviolet;
    border-radius: 20px;
    line-height: 30px;
    padding: 0 30px 0 30px;
}

.boxTitle {
    font-weight: bold;
    font-size: 25px;
}

.boxReminder {
    padding: 0 30px 0 30px;
    margin-top: 30px;
    font-size: 17px;
}

.boxName {
    font-size: 17px;
}

.boxName:hover {
    opacity: 0.9;
    color: rgb(255, 94, 0);
}

.commentBox {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 60px;
    width: 100%;
    border: solid 1px blueviolet;
}

.commentContent {
    line-height: 25px;
    margin-top: 80px;
    padding: 10px 10px 0px 20px;
}

/* Profile Screen */

#profileScreen {
    display: none;
    min-height: 60px;
    width: 100%;
    overflow: auto;
    text-align: center;
}

.profile {
    text-align: center;
    width: 100%;
    padding: 20px 0 0 0;
}

#closeProfile {
    float: right;
    padding: 0 10px 0 10px;
    color: #8d8d8d;
    font-size: 40px;
}

#closeProfile:hover {
    color: #000;
}

.FollowContainer {
    border-radius: 10px;
    width: 95%;
    min-height: 60px;
    border: solid 2px blue;
    margin: 20px auto;
    text-align: left;
}

.userIcon {
    padding-left: 50px;
    width: 200px;
    height: 200px;
}

.profileBorder {
    line-height: 10px;
    border-radius: 10px;
    border: solid 3px rgb(255, 137, 2);
    margin: 20px auto;
    min-height: 60px;
    width: 280px;
    text-align: left;
    padding: 0 20px 0 20px;
}

.FeedContainer {
    text-align: left;
    border-radius: 10px;
    width: 95%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    border: solid 2px green;
    margin: 0 auto;
}

.profileButton {
    margin: 0;
    width: 130px;
    border: 2px solid darkcyan;
    color: darkcyan;
}

.profileButton:hover {
    background-color: darkcyan;
    opacity: 0.6;
    color: black;
}

/* update Window */

#updateScreen {
    display: block;
    padding-top: 100px;
}

#closeUpdate {
    color: #8d8d8d;
    float: right;
    font-size: 30px;
}

#closeUpdate:hover {
    color: #000;
}

#updateScreen p {
    font-size: 20px;
}

#updateScreen input {
    width: 250px;
    height: 30px;
}

#updateScreen button {
    display: block;
    margin-top: 30px;
    border: 2px solid rgb(255, 137, 2);
    color: rgb(255, 137, 2);
}

#updateScreen button:hover {
    background-color: rgb(255, 137, 2);
    color: black;
    opacity: 0.6;
}

/* Comment Window */

#updateComment {
    display: block;
    padding-top: 100px;
    
}

#commentOuter {
    height: 70%;
    text-align: center;
}

#closeComment {
    color: #8d8d8d;
    float: right;
    font-size: 30px;
}

#closeComment:hover {
    color: #000;
}

#updateComment p {
    line-height: 60px;
    font-size: 40px;
}

#updateComment input {
    border: 2px solid skyblue;
    width: 90%;
    height: 200px;
}

#updateComment button {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    border: 2px solid rgb(255, 137, 2);
    color: rgb(255, 137, 2);
}

#updateComment button:hover {
    background-color: rgb(255, 137, 2);
    color: black;
    opacity: 0.6;
}

/* Comment Window */

#newPost {
    display: block;
    padding-top: 100px;
}

#closenewPost {
    color: #8d8d8d;
    float: right;
    font-size: 30px;
}

#closenewPost:hover {
    color: #000;
}

#newPost h1 {
    font-size: 40px;
    padding: 20px 0 0 20px;
}

#newPost p {
    padding: 10px 0 0 20px;
    line-height: 30px;
    font-size: 30px;
}

#newPost input {
    margin: 0 0 0 20px;
    border: 2px solid skyblue;
    width: 90%;
    height: 70px;
}

#newPost input[type='file'] {
    width: 70%;
    font-size: 15px;
    border: none;
}

#newPost button {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border: 2px solid rgb(255, 137, 2);
    color: rgb(255, 137, 2);
}

#newPost button:hover {
    background-color: rgb(255, 137, 2);
    color: black;
    opacity: 0.6;
}
